*{
    box-sizing: border-box;
}


body{
    background: #F6F6F6;
    padding-bottom: 24px;
    padding-top: 24px;
}

.calculator{
    max-width: 390;
    margin:0 auto;
    border:2px solid #111;
    border-radius: 5px;
    background-color:whitesmoke;
}
.calculator input{
    background: white;
    border: none;
    box-shadow: none;
    border-bottom: 3px solid black;
    padding: 15px;
    text-align: right;
    width:100%;
    font-size: 40px;
}
.calculator-button{
 display: grid;
 grid-template-columns: repeat(4,1fr);
 padding: 10px;
 grid-template-rows: repeat(5,1fr);
    grid-gap: 14px;
}
h1{
    text-align: center;
    font-size:45px;
    font-family: 'Times New Roman', Times, serif;
    font-style:oblique;
    color:white;
    background-color: black;
    
}
.calc-button{
    background: rgba(0,0,0,.5);
    border: 1px solid #111;
    padding: 20px;
    color:#eee;
    border-radius: 5px;
    font-size: 22px;
    cursor: pointer;
}
.is-clear{
grid-column: span 3;
background-color: #3572d8;

}
.decimal {
    grid-column: span 3;
    padding: 5px;
}

.hexa{
    grid-column: span 3;
}
.octal{
    grid-column: span 3;
}
.equals{
    grid-column: span 4;
    background-color: #28d060;
}